@font-face {
    font-family: "ArgentumSans";
    src: url("../static/fonts/ArgentumSans-Black.ttf");
}

@font-face {
    font-family: "Nunito";
    src: url("../static/fonts/Nunito.ttf");
}

* {
  padding: 0;
  margin: 0;  
}

body {
    display: flex;
    justify-content: center;
    background-color: azure;
}
.main {
    display: flex;
    align-items: center;
    flex-direction: column;  
    width: 100%;
    max-width: 60vw;
}

.header {
    width: 100%;
    height: 3vw;
    background-color:rgb(191, 191, 191);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.header-menu, .header-account {
    display: flex;
    gap: 30px;
    align-items: center;
}
.list-post, .new-post, .updates, .sign-up, .sign-in {
    text-decoration: none;
    font-family: "Nunito";
    font-size: 16px;
    color: black;
}
.icon {
    text-decoration: none;
    color:black;
    font-family: "ArgentumSans";
    font-size: 24px;
}

.header-profile {
    max-width: 30px;
    max-height: 30px;
}

.core-block {
    width: 100%;
    /* background-color: orange; */
}