body {
    background-color:rgb(80, 80, 80);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.authBox {
    display: flex;
    width: 40vw;
    height: 40vw;    
}
form {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 2vw;
    align-items: center;
    justify-content: center;
}

input {
    width: 50vh;
    height: 20vh;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 40px;
}
.submitbtn {
    color: #fff;
    background-color: black;
}

.error {
    color: red;
}

.logo {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    top: 40px;
    left: 40px;
}