<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='auth.css')}}">
</head>
<body>
    <a href="/" class="logo"> </a>
    <div class="authBox">
        <form action="" method="post">
            <input type="email" name="" id="" placeholder="E-mail">
            <input type="password" placeholder="Password">
            <input class="submitbtn" type="button" value="Sign in">
         </form>
    </div>
    <script>
        const submitbtn = document.querySelectorAll('.submitbtn');

        submitbtn.forEach(btn => {
            const initialStyles = window.getComputedStyle(btn);
            const startColor = initialStyles.backgroundColor;
            
            btn.addEventListener('mouseover', () => {
                btn.style.backgroundColor = '#3B3B3BFF';
            });

            btn.addEventListener('mouseout', () => {
                btn.style.backgroundColor = startColor;
            });
        });
    </script>
</body>
</html>