<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
</head>
<body>
    <a href="/" class="logo"> </a>
    <div class="auth">
        <a class="link" href="/login">login</a>
        <a class="link" href="/register">reg</a>
    </div>
    <script>
        const links = document.querySelectorAll('.link');

        links.forEach(link => {
            const initialStyles = window.getComputedStyle(link);
            const startColor = initialStyles.color;
            const startFontSize = initialStyles.fontSize;
            
            link.addEventListener('mouseover', () => {
                link.style.color = '#ffcc00';
                link.style.fontSize = '126px';
            });

            link.addEventListener('mouseout', () => {
                link.style.color = startColor;
                link.style.fontSize = startFontSize;
            });
        });
    </script>
</body>
</html>